/* Color Scheme:
 *  Slate Gray
 *  Firebrick Red
 *  White
 *  Black
 */
.global {
    background-color: white;
    color: black;
    margin: 0%;
}

.header {
    background-color: firebrick;
    color: white;
    min-height: 13vmin;
    max-height: 100vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 1.5vw;
}

.header li {
    list-style: none;
    padding-right: 2vw;
    font-size: 4vmin; /* Aligning to vmin makes it look good across displays */
    float: left;
    font-weight: bold;
    overflow: auto;
}

.header a {
    color: white;
    text-decoration: none;
}

.content {
    background-color: white;
    min-height: 100vh;
    padding-top: 0.2vw;
    padding-left: 10%;
    padding-right: 10%;
}

/* We set the image width to 80% of the width of the viewport
 * To ensure that it is displayed in a viewable size.
 */
.content img {
    width: 80vw;
    padding-bottom: 1%;
}

.footer {
    background-color: firebrick;
    color: white;
    height: 5vmin;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.footer a {
    color: white;
    padding-right: 1vw;
    font-size: 3vmin;
}
